<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="switchToEnglish()">Switch to English</button>
  <button (click)="switchToSpanish()">Switch to Spanish</button>
</div>

<ng-container *transloco="let t">
  <p>{{ t('Here are some links to help you start:') }}</p>
  <p>{{ t('Here an example with params: {link} and {pwd}', params) }}</p>
</ng-container>

<h1>{{ 'Here are some links to help you start:' | transloco }}</h1>
<h1>{{ 'Here an example with params: {link} and {pwd}' | transloco: params }}</h1>
<span>{{result}}</span>

<h1>{{ 'Plurals with 0, 1 and many' | transloco}}</h1>
<ng-container *transloco="let t">
  <ul>
    <li>{{ t('{fixed} You will delete POI', {count: 0, fixed: "THIS WILL NOT CHANGE"}) }}</li>
    <li>{{ t('{fixed} You will delete POI', {count: 1, fixed: "THIS WILL NOT CHANGE"}) }}</li>
    <li>{{ t('{fixed} You will delete POI', {count: 2, fixed: "THIS WILL NOT CHANGE"}) }}</li>
  </ul>
</ng-container>

<h2>Next</h2>
<ul>
  <li>{{ '{fixed} You will delete POI' | transloco: {count: 0, fixed: "THIS WILL NOT CHANGE"} }}</li>
  <li>{{ '{fixed} You will delete POI' | transloco: {count: 1, fixed: "THIS WILL NOT CHANGE"} }}</li>
  <li>{{ '{fixed} You will delete POI' | transloco: {count: 2, fixed: "THIS WILL NOT CHANGE"} }}</li>
</ul>

<router-outlet></router-outlet>
